* {
	padding: 0px;
	margin: 0px;
	border: none;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
    background-color: rgb(255, 255, 255);
}

@media (min-width: 1200px) { }
* {
	padding: 0px;
	margin: 0px;
	border: none;
    font-family: 'Open Sans', 'Arial', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
    background-color: rgb(255, 255, 255);
}

@media (min-width: 1200px) {  
/*Модальное окно*/

.fon {
    position: absolute;
    width: 100%;
    height: 100%;
}

.vera {
    position: relative;
}

.reg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
    background-color: #466292;
    border-radius: 40px;
    top: 600px;
    left: 80%;
}
.price {
    color: #FFFFFF;
    font-size: 70px;
    position: relative;
    top: 500px;
}
.open__form {
    color: #FFFFFF;
    text-decoration: none;
}
.main {
    
}
.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    /*Фиксированное положение и изначально элемент не видно*/
    visibility: hidden;
    position: fixed;
    z-index: 10;
    display: block;
    /*полная прозрачность блока, появление при клике*/
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    margin: 0 auto;
    width: 90%;
    min-width: 300px;
    max-width: 600px;
    height: 50%;
    padding: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    background-color: #FFFFFF;
    /* внешняя тень блока */
   -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
   -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
   -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
   -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
   box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
   -webkit-transition: all ease .5s;
   -moz-transition: all ease .5s;
   -ms-transition: all ease .5s;
   -o-transition: all ease .5s;
   transition: all ease .5s;
}

/* активируем появление окна и затемнение фона */
.overlay:target+.popup {
    top: 20%; /* положение окна от верха страницы при появлении */
    visibility: visible;
    opacity: 1; /* убираем прозрачность */
}

/*Модальное окно*/

h1 {
    margin: 20px;
    color: black;
    font-size:30px;
    text-align:center;
}
h2 {
    top:40px;
    margin: 5px;
    color: rgb(58, 58, 58);
    font-size:20px;
    text-align:center;
}
.wrap {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #b604ec;
    background: linear-gradient(90deg, rgb(213, 129, 230) 0%, rgb(199, 14, 255) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(95, 0, 173, 0.473);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px );
    min-height: calc(60px );
    box-shadow: 0 0 60px #d182ffd7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #a100cd;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }



}

@media (min-width : 360px) and (max-width : 768px) {
    /*Модальное окно*/
.overlay {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    /*Фиксированное положение и изначально элемент не видно*/
    visibility: hidden;
    position: fixed;
    z-index: 10;
    display: block;
    /*полная прозрачность блока, появление при клике*/
    opacity: 0;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    margin: 0 auto;
    width: 90%;
    min-width: 300px;
    max-width: 600px;
    height: 50%;
    padding: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    border-radius: 15px;
    background-color: #FFFFFF;
    /* внешняя тень блока */
   -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
   -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
   -ms-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
   -o-box-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
   box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.8);
   -webkit-transition: all ease .5s;
   -moz-transition: all ease .5s;
   -ms-transition: all ease .5s;
   -o-transition: all ease .5s;
   transition: all ease .5s;
}

/* активируем появление окна и затемнение фона */
.overlay:target+.popup {
    top: 20%; /* положение окна от верха страницы при появлении */
    visibility: visible;
    opacity: 1; /* убираем прозрачность */
}

/*Модальное окно*/

h1 {
    margin: 20px;
    color: black;
    font-size:30px;
    text-align:center;
}
h2 {
    top:40px;
    margin: 5px;
    color: rgb(58, 58, 58);
    font-size:20px;
    text-align:center;
}
.wrap {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #b604ec;
    background: linear-gradient(90deg, rgb(213, 129, 230) 0%, rgb(199, 14, 255) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(95, 0, 173, 0.473);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px );
    min-height: calc(60px );
    box-shadow: 0 0 60px #d182ffd7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #a100cd;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }




}
